body {
  background-color: #1c1c1c;
  color: #ffefef;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 36px
}

h2 {
  text-align: center;
  font-family: helvetica;
  font-size: 24px
}

p {
  font-family: helvetica;
  font-size: 11px
}
